* {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    background-image: url(../images/YouPain.jpg);
  }

  40% {
    background-image: url(../images/YouPain.jpg);
  }

  50% {
    background-image: url(../images/hero3.jpg);
  }

  90% {
    background-image: url(../images/hero3.jpg);
  }

  100% {
    background-image: url(../images/hero2.jpg);
  }
}


.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: absolute;
  top: 0;
}


@media (max-width: 768px) {

  .banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../images/hero2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  .overlay {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: absolute;
    top: 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../images/hero2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  .overlay {
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: absolute;
    top: 0;
  }
  

 
}