

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper{
  height: 100vh;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  border-radius: 50px;
  padding: 9px;
}

.swiper-slide .hero {
  filter: brightness(0.3) contrast(0.9);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slide-Your{
  background-color: rgba(3, 3, 3, 0.349);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}